@import "../../styles/helpers";

.submitBtn{
  margin-top: 1rem;
  padding:1rem 5rem;
}

@media (max-width: 978px) {
    .container {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
    table{
        margin: 20px 0;
    }

    h4{
        text-align: center !important;
    }
    td{
        padding: 0.5rem !important;
        font-size: 0.8rem;
    }
}